<launch>

	<node pkg="atar" type="extrinsic_calib_charuco" name="extrinsic_charuco" output="screen" >
		<rosparam command="load" file="$(find atar)/launch/params_charuco_board_4_6_polimi.yaml" />
		<param name="camera_name" value="asus_webcam"/>
		<param name="image_transport_namespace" value="/image_raw"/>
		<param name="show_image" value="true"/>
	</node>

</launch>
