<launch>
    <arg name="camera_name" value="camera"/>
    <arg name= "left_cam_name" value= "flea14150439" />
    <arg name= "right_cam_name" value= "flea14150441" />
    <rosparam command="load" file="$(find teleop_vision)/launch/params_overlay.yaml" />
  <!--    <group ns="$(arg camera_name)">

      <group ns="left">

            <node pkg="teleop_vision" type="extrinsic_calib_aruco" name="extrinsic_aruco_left" output="screen" >
                <rosparam command="load" file="$(find teleop_vision)/launch/params_aruco_board.yaml" />
                <param name="cam_name" value= "$(arg left_cam_name)" />
                <param name="image_transport_namespace" value="/$(arg camera_name)/left/image_color"/>
                <param name="board_to_cam_pose_topic_name" value="/$(arg camera_name)/left/board_to_camera"/>
                <param name="show_image" value="false"/>
-->
<!--                <param name="image_transport" value="compressed"/> --> <!-- Remove if image is not received over network -->
  <!--           </node>

        </group>

        <group ns="right" >
            <node pkg="teleop_vision" type="extrinsic_calib_aruco" name="extrinsic_aruco_right" output="screen" >
                <rosparam command="load" file="$(find teleop_vision)/launch/params_aruco_board.yaml" />
                <param name= "cam_name" value= "$(arg left_cam_name)" /> 
                <param name="image_transport_namespace" value="/$(arg camera_name)/right/image_color"/>
                <param name="board_to_cam_pose_topic_name" value="/$(arg camera_name)/right/board_to_camera"/>
                <param name="show_image" value="false"/>
-->
<!--                <param name="image_transport" value="compressed"/> --> <!-- Remove if image is not received over network -->
<!--            </node>
        </group>
    </group>
-->
    <node pkg="teleop_vision" type="overlay" name="overlay" output="screen">

	<param name= "num_cam_pose_publishers" value= "0"/>
        <param name= "left_cam_name" value= "$(arg left_cam_name)" />
        <param name= "right_cam_name" value= "$(arg left_cam_name)" /> <!-- ATTENTION USING the same file for right-->
        <param name= "left_image_topic_name" value= "/$(arg camera_name)/left/image_color" />
        <param name= "right_image_topic_name" value= "/$(arg camera_name)/right/image_color"/>
        <param name= "left_cam_pose_topic_name" value= "/$(arg camera_name)/left/board_to_camera "/>
        <param name= "right_cam_pose_topic_name" value= "/$(arg camera_name)/right/board_to_camera "/>
        <param name= "frequency" value= "30" />
<!--                <param name="image_transport" value="compressed"/> --> <!-- Remove if image is not received over network -->
    </node>
</launch>
