<launch>
    <arg name="camera_name" default="camera" />
    <node pkg="teleop_vision" type="robot_to_camera_aruco" name="robot_to_camera_aruco" output="screen">
        <rosparam command="load"
                  file="$(find teleop_vision)/launch/params_robot_camera_aruco.yaml" />
        <param name="cam_intrinsic_calibration_file_path"
               value="$(find teleop_vision)/resources/flea_left_intrinsic.xml" />

        <param name="image_transport_namespace"
               value="/$(arg camera_name)/left/image_color/"/>

        <param name= "right_image_topic_name"
               value= "/$(arg camera_name)/left/image_color"/>

        <param name= "cam_pose_topic_name"
               value= "/$(arg camera_name)/left/extrinsic_aruco/board_to_camera "/>

        <param name= "robot_pose_topic_name"
               value= "/dvrk/PSM2/position_cartesian_current"/>

        <param name= "frequency" value= "100" />
        <param name= "number_of_points_per_axis" value= "4" />
        <param name= "visual_axis_length" value= "0.06" />
        <param name="image_transport" value="resized"/>

    </node>
    <param name="$(arg camera_name)/left/image_color/resized/downscaling_factor" value="3"/>
</launch>
