<launch>
    <arg name= "left_cam_name" value= "left" />
    <arg name= "right_cam_name" value= "right" />

    <!-- parameters used by some nodes regarding the transformations among the cams, arms and task-space -->
    <group ns="calibrations">
        <rosparam command="load" file="$(find atar)/launch/params_calibrations_ar.yaml" />
        <rosparam command="load" file="$(find atar)/launch/params_charuco_board_4_6_polimi_test.yaml" />
    </group>


    <!-- Node recording the data-->
    <node pkg="atar" type="gui" name="gui" output="screen">
    </node>

    <!-- This node is now supposed to generate the ac geometry, control task states, and overlay graphics-->
    <node pkg="atar" type="ar_core" name="ar_core" output="screen">

        <!-- About cam_name:
        1- Expecting to find the intrinsic calibration file of each camera in
         ~/.ros/camera_info/ named as <cam_name>_intrinsics.xml or on the
         camera_info topic. if not intrinsic calibration is started.

        2- Expecting to read the camera images from the topic:
        /cam_<cam_number>_name/image_raw
        Use remap if the images are published on a different topic. For example:
        <remap from="/$(arg left_cam_name)/image_raw" to="/dvrk/$(arg
        left_cam_name)/image_raw"/>
        -->
        <param name= "cam_0_name" value= "$(arg left_cam_name)" />
        <param name= "cam_1_name" value= "$(arg left_cam_name)" />
        <param name= "cam_2_name" value= "$(arg right_cam_name)" />

        <!--REMAP TOPICS -->
        <remap from="/$(arg left_cam_name)/image_raw" to="/endoscope/$(arg
        left_cam_name)/image_raw"/>
        <remap from="/$(arg right_cam_name)/image_raw" to="/endoscope/$(arg
        right_cam_name)/image_raw"/>
        <remap from="/$(arg left_cam_name)/camera_info" to="/endoscope/$(arg
        left_cam_name)/camera_info"/>
        <remap from="/$(arg right_cam_name)/camera_info" to="/endoscope/$(arg
        right_cam_name)/camera_info"/>

        <!-- About stl_files_dir:
        The directory of the stl files -->
        <param name= "recources_directory" value= "$(find atar)/resources" />

        <!--Activate or deactivate haptic guidance -->
        <param name= "publish_overlayed_images" value= "false" />

        <!--add shadows to the graphics. Works on dedicated GPUs -->
        <!--NOTE: SHADOWS DON'T WORK IF THERE ARE MORE THAN ONE WINDOW.MULTIPLE VIEWS IN ONE WINDOW IS FINE-->
        <param name= "with_shadows" value= "false" />

        <!--If the generated images are to be published on
        ros, to help alleviate the considerable bottleneck of grabbing the
        images from the gpu, activate this flag so that the rendering is done
         off screen and not shown in opengl windows.-->
        <param name= "offScreen_rendering" value= "false" />

        <!-- <param name="image_transport" value="compressed"/> --> <!--
         Remove if image is not received over network -->
    </node>

</launch>
