<launch>

    <!-- Parameters regarding the transformations among the cams, arms and
    world frame.
    Namespace is here because params used to be used by a few nodes...-->
    <group ns="calibrations">
        <rosparam command="load" file="$(find atar)/launch/params_calibrations_test_vr.yaml" />
    </group>

    <!--____________________________________________________________________-->
    <!-- Node GUI -->
    <node pkg="atar" type="gui" name="gui" output="screen"> </node>

    <!--____________________________________________________________________-->
    <!-- The core ATAR node-->
    <node pkg="atar" type="ar_core" name="ar_core" output="screen">

        <!--The directory of mesh and textures -->
        <param name= "resources_directory" value= "$(find atar)/resources" />

        <!--add shadows to the graphics. Works on dedicated GPUs -->
        <!--NOTE: SHADOWS DON'T WORK IF THERE ARE MORE THAN ONE WINDOW.
        MULTIPLE VIEWS IN ONE WINDOW IS FINE-->
        <param name= "with_shadows" value= "false" />

    </node>

    <!--____________________________________________________________________-->
    <!--The teleop dummy nodes simulate a slave by simply incrementing the
        position of the end-effector of a master to allow for clutching, and
        handle the buttons etc.-->
    <node pkg="atar" type="teleop_dummy_sigma" name="teleop_dummy_sigma"
          output="screen">
        <param name="scaling" value="0.5"/>
        <rosparam param="initial_slave_position"> [0.13, -0.04,-0.01]</rosparam>
    </node>

    <!--____________________________________________________________________-->
    <!--The node interfacing with a sigma master device-->
    <node pkg="sigma" type="master" name="sigma" output="screen">

        <param name="frequency" value="200" />

        <!--sigma can simulate a button with the gripper. THat is when yoy
        close the gripper it resists a bit at the end and and springs back
        when you release it.-->
        <param name="enable_gripper_button" value="true" />

        <!--we can lock the orientation when the pedal is released. This is
        useful for teleoperation-->
        <param name="lock_orientation" value="true" />

        <!-- The topic from which the node reads wrenches to be applied by
        the device-->
        <param name="wrench_topic" value="/sigma/sigma0/forceFeedback"/>

    </node>




</launch>
